<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <title>Message Board</title>
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row'><div class='col-md-8 col-md-offset-2'>
                <h1 class='text-center'>The Coding Dojo Message Board</h1>
                <hr class='style-one'>
                <form action='/post' method='post'>
                    <div class='form-group'>
                        <label class='msg-label' for='name'>Your Name:</label>
                        <input type='text' class='form-control' name='name'>
                        <label class='msg-label' for='post'>Leave a Message:</label>
                        <textarea class='form-control' id='post' name='post'></textarea>
                    </div>
                    <input class='btn btn-primary' id='submit' type='submit' value='Post'>
                </form>
            </div></div>
            <% for (var i in posts) { %>
                <div class='row'><div class='col-md-8 col-md-offset-2'>
                    <div class='msg-txt'>Name: <%=posts[i].poster%></div>
                    <div class='msg-txt'>Message: <%=posts[i].content%></div>
                    <div class='col-md-6 col-md-offset-3'>
                        <form action='/comment/<%=posts[i]._id%>' method='post'>
                            <label  for='name'>Your Name:</label>
                            <input type='text' class='form-control' name='name'>
                            <label  for='post'>Leave a Comment:</label>
                            <textarea class='form-control' id='comment' name='comment'></textarea>
                            <input class='btn btn-primary' type='submit' id='comment-btn' value='Comment'>
                        </form>
                    </div>
                </div></div>
                 <% for (var j in posts[i].comments) { %>
                        <% if (posts[i].comments[j].comment_poster) { %>
                            <div class='row'><div class='col-md-8 col-md-offset-2 comment-box'>
                                <div><span class='user'><%=posts[i].comments[j].comment_poster%>: </span> <%=posts[i].comments[j].comment_content%></div>
                            </div></div>
                        <% } %>
                <% } %> 
                <hr class='style-two'>
            <% } %>
        </div>
        </body>
</html>